<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="dbInsert" >
  	
  	<!-- 처방입력 -->
	<insert id="insertPrescription" parameterType="Map">
  		insert into go_prescription(
  			GO_PRESCRIPTION_RESULT_CODE,
  			GO_TREAT_CODE,
  			GO_MEDICINE_CODE,
  			GO_PRESCRIPTION_RESULT_INJECTION_NUMBER,
  			GO_PRESCRIPTION_RESULT_DOSAGE,
  			GO_PRESCRIPTION_RESULT_TOTAL_DATE,
  			GO_PRESCRIPTION_RESULT_USAGE,
  			GO_PRESCRIPTION_RESULT_WRITE_DATE,
  			GO_PRESCRIPTION_RESULT_GO_REGISTRATION_DATE
  			) 
  		values(
  			concat(#{hospitalCode},'_',#{goPrescriptionResultCode}),
  			#{goTreatCode},
  			#{goMedicineCode},
  			#{goPrescriptionResultInjectionNumber},
  			#{goPrescriptionResultDosage},
  			#{goPrescriptionResultTotalDate},
  			#{goPrescriptionResultUsage},
  			#{goPrescriptionResultWriteDate},
  			now()
  			)
  	</insert> 
  	
  	
  	<!-- 수술 입력  -->
 	 <insert id="insertSurgery" parameterType="Map">
  		insert into go_surgery_result(
  			GO_SURGERY_RESULT_CODE,
  			GO_TREAT_CODE,
  			GO_SURGERY_CODE,
  			GO_SURGERY_RESULT_REGISTRATION_DATE,
  			GO_SURGERY_RESULT_GO_REGISTRATION_DATE
  			) 
  		values(
  			concat(#{hospitalCode},'_',#{goSurgeryResultCode}),
  			#{goTreatCode},
  			#{goSurgeryCode},
  			#{goSurgeryResultRegistrationDate},
  			now()
  			)
  	</insert> 
  	
  	
  	<!-- 입/퇴원 입력 -->
 	<insert id="insertHospitalization" parameterType="Map">
  		insert into go_hospitalization(
  			GO_HOSPITALIZATION_CODE,
  			GO_TREAT_CODE,
  			GO_HOSPITALIZATION_ENTER_DATE,
  			GO_HOSPITALIZATION_EXIT_DATE,
  			GO_HOSPITALIZATION_GO_REGISTRATION_DATE
  			) 
  		values(
  			concat(#{hospitalCode},'_',#{goHospitalizationCode}),
  			#{goTreatCode},
  			#{goHospitalizationEnterDate},
  			#{goHospitalizationExitDate},
  			now()
  			)
  	</insert> 
  	
  	<!-- 진단 입력 -->
  	<insert id="insertDiagnosis" parameterType="Map">
  		insert into go_diagnosis(
  			GO_DIAGNOSIS_CODE,
  			GO_TREAT_CODE,
  			GO_DISEASE_CODE,
  			GO_TREATMENT_WRITE_DATE,
  			GO_DIAGNOSIS_GO_REGISTRATION_DATE
  			)
  		values(
  			concat(#{hospitalCode},'_',#{goDiagnosisCode}),
  			#{goTreatCode},
  			#{goDiseaseCode},
  			#{goTreatmentWriteDate},
  			now()
  			)
  	</insert>
  	
  	<!-- 예방접종 입력 -->
   	<insert id="insertVaccine" parameterType="Map">
  		insert into go_vaccination_result(
  			GO_VACCINATION_RESULT_CODE,
  			GO_TREAT_CODE,
  			GO_VACCINATION_CODE,
  			GO_VACCINATION_RESULT_DEGREE,
  			GO_VACCINATION_RESULT_REGISTRATION_DATE,
  			GO_VACCINATION_RESULT_GO_REGISTRATION_DATE
  			) 
  		values(
  			concat(#{hospitalCode},'_',#{goVaccinationResultCode}),
  			#{goTreatCode},
  			#{goVaccinationCode},
  			#{goVaccinationResultDegree},
  			#{goVaccinationResultRegistrationDate},
  			now()
  			)
  	</insert>

  	<!-- 영상검사 입력 -->
 	<insert id="insertImageTest" parameterType="Map">
  		insert into go_test_image_result(
  			GO_IMAGE_TEST_CODE,
  			GO_TREAT_CODE,
  			GO_IMAGE_TEST_FILE_PATH,
  			GO_IMAGE_TEST_FILE_NAME,
  			GO_IMAGE_TEST_DATE,
  			GO_IMAGE_TEST_GO_REGISTRATION_DATE
  			) 
  		values(
  			concat(#{hospitalCode},'_',#{goImageTestCode}),
  			#{goTreatCode},
  			#{goImageTestFilePath},
  			#{goImageTestFileName},
  			#{goImageTestDate},
  			now()
  			) 
  	</insert> 

  	<!-- 건강검진 입력 -->
 	<insert id="insertCheckup" parameterType="Map">
  		insert into go_test_checkup_result(
  			GO_CHECKUP_RESULT_CODE,
  			GO_TREAT_CODE,
  			GO_CHECKUP_RESULT_FILE_PATH,
  			GO_CHECKUP_RESULT_FILE_NAME,
  			GO_CHECKUP_RESULT_CHECKUP_DATE,
  			GO_CHECKUP_RESULT_REGISTRATION_DATE,
  			GO_CHECKUP_RESULT_GO_REGISTRATION_DATE
  			) 
  		values(
  			concat(#{hospitalCode},'_',#{goCheckupResultCode}),
  			#{goTreatCode},
  			#{goCheckupResultFilePath},
  			#{goCheckupResultFileName},
  			#{goCheckupResultCheckupDate},
  			#{goCheckupResultRegistrationDate},
  			now()
  			)
  	</insert> 

  	<!-- 차트 입력 -->
  	<insert id="insertChart" parameterType="Map">
  		insert into go_chart(
  			GO_CHART_CODE,
  			GO_CITIZEN_ID,
  			GO_HOSPITAL_ID,
  			GO_CHART_REGISTRATION_DATE,
  			GO_CHART_GO_REGISTRATION_DATE
  			) 
  		values(
  			concat(#{hospitalCode},'_',#{goCitizenId}),
  			#{goCitizenId},
  			#{goHospitalId},
  			#{goChartRegistrationDate},
  			now()
  			)
  	</insert>
  	
  	<!-- 혈액검사결과 입력 -->
 	<insert id="insertBloodTest" parameterType="Map">
  		insert into go_test_blood_result(
  			GO_BLOOD_TEST_CODE,
  			GO_TREAT_CODE,
  			GO_BLOOD_TEST_BLOOD_SUGAR,
  			GO_BLOOD_TEST_PLATELET,
  			GO_BLOOD_TEST_FILE_PATH,
  			GO_BLOOD_TEST_FILE_NAME,
  			GO_BLOOD_TEST_DATE,
  			GO_BLOOD_TEST_GO_REGISTRATION_DATE
  			) 
  		values(
  			concat(#{hospitalCode},'_',#{goBloodTestCode}),
  			#{goTreatCode},
  			#{goBloodTestBloodSugar},
  			#{goBloodTestPlatelet},
  			#{goBloodTestFilePath},
  			#{goBloodTestFileName},
  			#{goBloodTestDate},
  			now()
  			)
  	</insert> 
  	
  	<!-- 진료입력  -->
  	<insert id="insertTreat" parameterType="Map">
	  		insert into go_treat(
	  			GO_TREAT_CODE,
	  			GO_HOSPITAL_ID,
	  			GO_CITIZEN_ID,
	  			GO_DOCTOR_ID,
	  			GO_TREAT_SUBJECT_CODE,
	  			GO_CHART_CODE,
	  			GO_TREAT_CONTENTS,
	  			GO_TREAT_REGISTRATION_DATE,
	  			GO_TREAT_GO_REGISTRATION_DATE
	  			) 	
	  		values(
		  		concat(#{hospitalCode},'_',#{goTreatCode}),
		  		#{goHospitalId},
		  		#{goCitizenId},
		  		#{goDoctorId},
		  		#{goTreatSubjectCode},
		  		#{goChartCode},
		  		#{goTreatContents},
		  		#{goTreatRegistrationDate},
		  		now()
	  			)
  	</insert>
  
  
  		
  
  </mapper>